div {
  width: 590px;

  background-color: black;

  color: white;

  margin-bottom: 2px;

  padding: 5px;

  text-align: center;
}

h1 {
  margin: 0;
}

#mensaje {
  font-size: 18px;

  font-weight: bold;

  cursor: pointer;
}

#puntuacion,
#tiempo {
  font-size: 18px;

  font-weight: bold;

  font-family: "arial";

  color: #0f0;
}

.amarillo{
  color: yellow;
}


